#grad {
  background-image:linear-gradient(#b5d7da, #eafbf4);
}
body{
background-color: aliceblue;
}

h1{
text-shadow: 2px 2px 5px black;
color: #fbfcf4;
margin-left:
}

p{
  color:#ff6347;
  margin-left:
}
